.service-image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 15px 1px #00aeff;
}

.detailed-price {
  font-size: 2rem;
}

@media only screen and (max-width: 991px) {
  .service-image {
    width: 70%;
  }
}
