.service-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.section-heading {
  font-size: 2.2rem;
  font-weight: 600;
}

.heading-underline {
  width: 3rem;
  height: 0.2rem;
  background-color: #00aeef;
  margin: 1rem auto 3rem;
}

/* Make it responsive */
@media only screen and (max-width: 688px) {
  .service-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 689px) and (max-width: 991px) {
  .service-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
