.single-booking {
  background: #fff;
  border-radius: 5px;
  margin-bottom: 30px;
  overflow: hidden;
  transition: 0.3s;
}

.single-booking:hover {
  box-shadow: 0 10px 20px rgb(0 0 0 / 5%);
}

.single-booking:hover .service .service-price {
  background-color: #ff4a52;
}

.single-booking .service h5 {
  color: #ff4a52;
}
.single-booking .service .confirmed {
  color: #1ec6b6;
}

.single-booking:hover .service h3 {
  color: #ff4a52;
}

.service:hover {
  box-shadow: none;
}

.single-booking .booking-info p {
  font-size: 15px;
  font-weight: 400;
  color: #7a838b;
}

.single-booking .booking-info h5,
.single-booking .booking-info h6 {
  font-weight: 400;
}

.single-booking .booking-info .cancel-btn {
  padding: 0.5rem 0.7rem;
  background-color: #ff4a52;
}
.single-booking .booking-info .update-btn {
  padding: 0.5rem 0.7rem;
  background-color: #1ec6b6;
}
