form .form-control,
form .form-select {
  width: 25rem;
  border: 1px solid #1ec6b6;
}

form .form-control:focus,
form .form-select:focus {
  box-shadow: none;
  border: 1px solid #ff4a52;
}

form .input-label {
  font-size: 1.1rem;
  font-weight: 500;
  color: #1ec6b6;
}

.form-card {
  width: 50%;
  margin: 0 auto;
  margin-top: 2rem;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  border-radius: 1rem;
}

form .auth-form .auth-btn {
  padding: 0.5rem 0.7rem;
}

form .auth-form .google-btn {
  padding: 0.5rem 0.7rem;
  background-color: #ff4a52;
}

form .auth-form .google-img {
  width: 18%;
}
@media only screen and (max-width: 991px) {
  .form-card {
    width: 70%;
  }
}
@media only screen and (max-width: 767px) {
  .form-card {
    width: 90%;
  }

  form .form-control,
  form .form-select {
    width: 100%;
  }
}

@media only screen and (max-width: 350px) {
  .form-card {
    width: 100%;
  }

  form .form-control,
  form .form-select {
    width: 100%;
  }
}
