@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Rubik",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn.default-btn {
  position: relative;
  background-color: #1ec6b6;
  color: #fff;
  display: inline-block;
  padding: 18px 41px;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  border: 0;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
  z-index: 1;
  cursor: pointer;
}

.btn.default-btn::before {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 100%;
  right: 100%;
  width: 41px;
  height: 1em;
  border-radius: 50%;
  background-color: #ff4a52;
  transform-origin: center;
  transform: translate3d(50%, 50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}

.btn.default-btn:hover,
.btn.default-btn:focus {
  box-shadow: none;
  color: #fff;
}

.btn.default-btn:hover::before {
  transform: translate3d(50%, 50%, 0) scale3d(15, 15, 15);
}
