@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Rubik",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn.default-btn {
  background-color: #1ec6b6;
  color: #fff;
  display: inline-block;
  padding: 18px 41px;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  border: 0;
  transition: 0.3s;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5 px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}

.btn.default-btn:hover,
.btn.default-btn:focus {
  box-shadow: none;
  background-color: #ff4a52;
  color: #fff;
}
