.news .card {
  width: 25rem;
  height: 37rem;
  border: none;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
}

.news .card-body {
  padding: 2rem;
}

.news .card-title {
  font-size: 1.3rem;
  font-weight: 600;
}
.news .card-text {
  color: #707070;
}

.news .news-comment {
  margin-top: 2rem;
  color: #00aeff;
}

@media only screen and (max-width: 767px) {
  .news .card {
    margin: 0 auto;
    width: 18rem;
    height: 33rem;
  }

  .news .card-body {
    padding: 1.4rem;
  }

  .news .news-comment {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 315px) {
  .news .card {
    width: 15rem;
    height: 25rem;
  }

  .news .card-body {
    padding: 0.9rem;
  }

  .news .card-title {
    font-size: 1rem;
  }
  .news .card-text {
    font-size: 0.7rem;
  }

  .news .news-comment {
    font-size: 0.6rem;
  }
}
